h1 {
	text-align:center;
}
body {
	position:relative;
	width: 250px;
	height: 320px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px 20px 0px 20px;
}
label {
	font-size: 16px;
	float: left;
}
input[type=text], select {
	width: 100%;
	padding: 12px 5px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	float: right;
}
input[type=button]#savebox {
	box-sizing:border-box;
	display:inline-block;
	bottom:55px;
	position:absolute;
	width: 90%;
	background-color: #ff6738;
	color: white;
	padding: 12px 20px;
	margin: 8px 5%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	left:0;
}
input[type=button]#stopall {
	box-sizing:border-box;
	margin:0 55%;
	display:inline-block;
	bottom:10px;
	position:absolute;
	width: 40%;
	background-color: #ff3333;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	left:0;
}
input[type=button]#restart {
	box-sizing:border-box;
	margin:0 5%;
	display:inline-block;
	bottom:10px;
	position:absolute;
	width: 40%;
	background-color: #00cd66;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	left:0;
}
input[type=button]:hover {
	background-color: #ff5722;
}
